<div class="discussion-card">
  <div class="discussion-card-header">
    <%= link_to "#{discussion.charity_project.name} • Forum", charity_project_discussions_path(discussion.charity_project)  %>
    <div class="discussion-title">
      <h3><%= link_to discussion.title, discussion_path(discussion) %></h3>
    </div>
    <div class="discussion-content">
      <p><%= discussion.description %></p>
    </div>
  </div>

  <div class="discussion-info">
    <% if discussion.user.present? %>
      <% name = "#{discussion.user.first_name} #{discussion.user.last_name}".strip.presence || discussion.user.email %>
      <p class="user-info"> by <%= name %> | <%= time_ago_in_words(discussion.created_at) %> ago</p>
    <% else %>
      <p class="user-info">Anonymous | <%= time_ago_in_words(discussion.created_at) %> ago</p>
    <% end %>
  </div>
</div>
