<h1 class="discussions-heading">Discussions for <%= @donation.charity_project.name %></h1>

<div class="button-container">
  <%= link_to 'New Discussion', new_donation_discussion_path(@donation), class: 'btn-primary' %>
</div>

<div class="discussions-list">
  <% @discussions.each do |discussion| %>
    <div class="discussion-card">
      <div class="discussion-card-header">
        <div class="discussion-title">
          <h3><%= link_to discussion.title, donation_discussion_path(@donation, discussion) %></h3>
        </div>
        <div class="discussion-content">
          <p><%= discussion.description %></p>
        </div>
      </div>

      <div class="discussion-info">
        <% if discussion.user.present? %>
          <% name = "#{discussion.user.first_name} #{discussion.user.last_name}".strip.presence || discussion.user.email %>
          <p class="user-info"> <%= name %> | <%= time_ago_in_words(discussion.created_at) %> ago</p>
        <% else %>
          <p class="user-info">Anonymous | <%= time_ago_in_words(discussion.created_at) %> ago</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
