<h1>Discussions for Your Donation to <%= @donation.charity_project.name %></h1>

<div class="button-container">
  <%= link_to 'New Discussion', new_donation_discussion_path(@donation), class: 'btn-primary' %>
</div>

<div class="discussions-list">
  <% @discussions.each do |discussion| %>
    <div class="discussion-card">
      <h3><%= link_to discussion.title, donation_discussion_path(@donation, discussion) %></h3>
      <p><%= discussion.description %></p>

      <!-- Delete Discussion button -->
      <% if discussion.user == current_user %>
        <%= form_with url: donation_discussion_path(@donation, discussion), method: :delete, local: true, data: { confirm: 'Are you sure you want to delete this discussion?' }, class: 'inline-form' do %>
          <%= submit_tag 'Delete Discussion', class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
