<div class="discussion-show-container">
  <div class="discussion-details">
    <%= link_to "#{@discussion.charity_project.name} • Forum", charity_project_discussions_path(@discussion.charity_project)  %>
    <h1 class="discussion-title"><%= @discussion.title %></h1>
    <p class="discussion-description"><%= @discussion.description %></p>

    <% if @discussion.user.present? %>
      <% name = "#{@discussion.user.first_name} #{@discussion.user.last_name}".strip.presence || @discussion.user.email %>
      <small class="comment-author">by <%= name %> | <%= time_ago_in_words(@discussion.created_at) %> ago</small>
    <% else %>
      <small class="comment-author">Anonymous | <%= time_ago_in_words(@discussion.created_at) %> ago</small>
    <% end %>
  </div>

  <div class="comments-section">
    <h2>Comments</h2>
    <div class="comments-list">
      <% if @discussion.comments.any? { |comment| comment.content.present? } %>
        <% @discussion.comments.each do |comment| %>
          <% next if comment.content.blank? %> <!-- Skip empty comments -->

          <div class="comment-card">
            <p class="comment-content"><%= comment.content %></p>
            <% if comment.user.present? %>
              <% name = "#{comment.user.first_name} #{comment.user.last_name}".strip.presence || comment.user.email %>
              <small class="comment-author">by <%= name %> | <%= comment.created_at.present? ? time_ago_in_words(comment.created_at) : 'Unknown time' %> ago</small>
            <% else %>
              <small class="comment-author">Anonymous | <%= comment.created_at.present? ? time_ago_in_words(comment.created_at) : 'Unknown time' %> ago</small>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>No comments yet. Be the first to comment!</p>
      <% end %>
    </div>
  </div>


  <div class="new-comment-form">
    <h3>Add a Comment</h3>
    <%= form_with model: [@discussion, @discussion.comments.build], local: true do |f| %>
      <div class="form-group" style="margin-bottom: 1rem;">
        <%= f.text_area :content, rows: 3, class: "form-control input-field" %>
      </div>
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
