<div class="nav-show">
  <%= link_to "#approach" do %>
    <span>Approach</span>
  <% end %>
  <div class="nav-line"></div>
  <%= link_to "#data" do %>
    <span>Data</span>
  <% end %>
  <div class="nav-line"></div>
  <%= link_to "#reporting" do %>
    <span>Reporting</span>
  <% end %>
  <div class="nav-line"></div>
  <% if @charity_project.discussions.any? %>
    <%= link_to "#forum" do %>
      <span>Forum</span>
    <% end %>
  <% else %>
    <%= link_to charity_project_discussions_path(@charity_project) do %>
      <span>Forum</span>
    <% end %>
  <% end %>
</div>
