<div class="viewport-above-cta">
  <div class="dropshadow-nav"></div>
  <%# List %>
  <div class="grid-show-background show-container" data-controller="sort-index">
    <div class="show-nav-container">
      <%# Nav Bar Show Content %>
      <%= render "show_nav" %>
    </div>
    <%# Grid with Charity Cards %>
    <div class="show-content-container">
      <section id="intro" class="show-section-card">
        <div class="grid-show-container">
          <div class="show-heading">
            <h1><%= @charity_project.name %></h1>
            <h6><%= @charity_project.description %></h6>
          </div>
          <div class="show-intro">
            <%= render "show_card_photos" %>
          </div>
        </div>
      </section>
      <section id="approach" class="show-section-card">
        <div class="section-title">
          <h2>Project Approach</h2>
        </div>
        <div class="grid-show-container">
          <%= render "show_section_description" %>
        </div>
      </section>
      <section id="data" class="show-section-card">
        <div class="section-title">
          <h2>External Evaluation</h2>
        </div>
        <div class="grid-show-container">
          <%= render "show_card_graphs" %>
          <div class="container-evaluations">
              <%= render "reports_carousel", carousel_id: "evaluations", objects: @charity_project.evaluations %>
          </div>
        </div>
      </section>

      <section id="reporting" class="show-section-card">
        <div class="section-title">
          <h2>Organisation Reporting</h2>
        </div>
        <div class="flex-show-container">
          <%# Iterate over articles %>
          <div class="container-articles">
            <% if @charity_project.articles.any? %>
              <%= render "reports_carousel", carousel_id: "articles", objects: @charity_project.articles %>
            <% else %>
              <div>
                <p>No Organisation Reporting published yet. Stay tuned for future updates.</p>
              </div>
            <% end %>
          </div>
        </div>
      </section>
        <section id="forum" class="show-section-card">
          <div class="section-title">
            <h2>Forum</h2>
          </div>
          <div class="flex-show-container">
            <div class="container-articles">
              <% if @charity_project.discussions.any? %>
                <%= render "discussions_carousel", carousel_id: "Discussions", objects: @charity_project.discussions.first(3)  %>
              <% else %>
                <div>
                  <p>No Forum discussions published yet. <%= link_to "Start the first discussion", charity_project_discussions_path(@charity_project) %></p>
                </div>
              <% end %>
            </div>
          </div>
        </section>
    </div>
  </div>
</div>
<%= render "show_cta_donation", project: @charity_project %>
