<div class="category-card">
  <div class="icon">
    <% if title == "Famine" %>
      <%= image_tag("icons/food.svg", alt: "Famine Icon", class: "icon-svg") %>
    <% elsif title == "Climate Change" %>
      <%= image_tag("icons/tree.svg", alt: "Climate Change Icon", class: "icon-svg") %>
    <% elsif title == "Natural Disasters" %>
      <%= image_tag("icons/tornado.svg", alt: "Natural Disasters Icon", class: "icon-svg") %>
    <% elsif title == "Education" %>
      <%= image_tag("icons/book.svg", alt: "Education Icon", class: "icon-svg") %>
    <% elsif title == "Health" %>
      <%= image_tag("icons/health.svg", alt: "Health Icon", class: "icon-svg") %>
    <% elsif title == "Basic Needs" %>
      <%= image_tag("icons/house.svg", alt: "Basic Needs Icon", class: "icon-svg") %>
    <% end %>
  </div>
  <div class="title"><%= title %></div>
</div>
