<nav class="navbar navbar-lewagon">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="navbar-brand">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag(current_user.photo.key, class: "avatar", alt: "User Profile Picture") %>
          <% else %>
            <%= image_tag "avatar_img.png", class: "avatar", alt: "User Profile Picture" %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to "CharityNest", root_path, class: "navbar-textlogo" %>
    </div>

    <div class="navbar-menu d-flex">
      <% if user_signed_in? %>
        <%= render "shared/nav_logedin" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "navbar-item" %>
        <%= link_to "Log in", new_user_session_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
