<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Support Change, Empower Communities</h1>
    <p class="hero-description">Make a meaningful impact with your support</p>
    <button class="button" onclick="window.location.href='#categories'">Get Started Today</button>
  </div>
</div>

<section class="categories" section id="categories">
  <h2>Categories</h2>
  <div class="category-cards">
    <%= link_to '/charities' do %>
      <%= render 'shared/category_card', title: "Climate Change" %>
    <% end %>
    <%= render 'shared/category_card', title: "Hunger" %>
    <%= render 'shared/category_card', title: "Disaster Relief" %>
    <%= render 'shared/category_card', title: "Education" %>
    <%= render 'shared/category_card', title: "Health" %>
    <%= render 'shared/category_card', title: "Water & Sanitation" %>
  </div>
</section>

<%= render 'shared/footer' %> <!-- Render the footer section -->
