<div class="card-basic card-project-donation">
  <div class="project-ticker">
    <div class="project-ticker-info">
      <% project = donation.charity_project %>
      <h4><%= link_to project.name, charity_project_path(project) %></h4>
      <ul>
        <%= link_to donations_path(charity_project_id: project) do %>
        <li class="ticker-info-title">
          <div class="ticker-notification">
            <span><%= project.reports.count + project.discussions.count + project.comments.count %></span>
          </div>
          <span>News</span>
        </li>
        <% end %>
        <li>
          <div class="ticker-notification">
            <span><%= project.articles.count %></span>
          </div>
          <span>Articles</span>
        </li>
        <li>
          <div class="ticker-notification">
            <span><%= project.evaluations.count %></span>
          </div>
          <span>Evaluations</span>
        </li>
        <%# discussions %>
        <li>
          <div class="ticker-notification">
            <span><%= project.discussions.count %></span>
          </div>
          <span>Discussions</span>
        </li>
        <%# comments %>
        <li>
          <div class="ticker-notification">
            <span><%= project.comments.count %></span>
          </div>
          <span>Comments</span>
        </li>
      </ul>
    </div>
    <div class="project-ticker-graph">
      <%= line_chart donation.charity_project.evaluations.map { |report| [report.title, report.score] }, colors: ["#35A28C"], library: {
        legend: {
          labels: {
            fontColor: "white"
          }
        },
        scales: {
          x: {
            grid: {
              color: 'white',
              tickColor: 'white'
            },
            ticks: {
              color: 'white',
            }
          },
          y: {
            grid: {
              color: 'white',
              tickColor: 'white'
            },
            ticks: {
              color: 'white',
            }
          }
        }
      } %>
      <h6>Evaluation Score</h6>
    </div>
    <div class="project-ticker-progress">
      <%= render "charity_projects/progress_bar", project: donation.charity_project %>
    </div>
  </div>
  <div class="donation-manage">
    <div class="donation-info">
      <div class="donation-piechart">
        <%= pie_chart [[project.name, donation.amount_cents / 100], ["All Donations", ( current_user.donations.sum(:amount_cents) - donation.amount_cents ) / 100]], colors: ["#35A28C"], legend: false  %>
      </div>
      <div class="donation-amount">
        <h6>My Donation</h6>
        <% if donation.recurrent %>
          <p><%= humanized_money_with_symbol donation.amount %> monthly</p>
          <p>since <%= donation.created_at.strftime('%b %d, %Y') %></p>
        <% else %>
          <p><%= humanized_money_with_symbol donation.amount %> on <%= donation.created_at.strftime('%b %d, %Y') %></p>
        <% end %>
      </div>
    </div>
    <div>
      <% if donation.recurrent %>
        <%= link_to 'Manage Subscription', edit_donation_path(donation), class: 'button text-decoration-none' %>
      <% else %>
        <%= link_to 'Donate again', charity_project_path(project), class: 'button text-decoration-none' %>
      <% end %>
    </div>
  </div>
</div>
