<div class="top-dashboard">
  <!-- Inner wrapper for the shadow and border radius -->
  <div class="inner-wrapper">
    <!-- First Column -->
    <div class="first-column">
      <!-- Header -->
      <h2>All your Donations</h2>

      <!-- Inner flex container for subcolumns -->
      <div class="inner-flex-container">
        <!-- First Subcolumn -->
        <div class="first-subcolumn">
          <p><strong>Beneficiaries</strong></p>
          <ul>
            <% if current_user.donations.joins(charity_project: :charity).where('charity_projects.name != charities.name').distinct.count('charity_projects.id') > 0 %>
              <li><%= pluralize(current_user.donations.joins(charity_project: :charity).where('charity_projects.name != charities.name').distinct.count('charity_projects.id'), 'Charity Project') %></li>
            <% end %>
            <% if current_user.donations.joins(charity_project: :charity).where('charity_projects.name = charities.name').count > 0 %>
              <li><%= pluralize(current_user.donations.joins(charity_project: :charity).where('charity_projects.name = charities.name').count, 'Charity Organisation') %></li>
            <% end %>
            <% if CharityProject.joins(:category).where(id: current_user.donations.pluck(:charity_project_id)).distinct.count('categories.id') > 0 %>
              <li><%= pluralize(CharityProject.joins(:category).where(id: current_user.donations.pluck(:charity_project_id)).distinct.count('categories.id'), 'Category') %></li>
            <% end %>
            <% if CharityProject.where(id: current_user.donations.pluck(:charity_project_id)).pluck(:location).map { |location| location.split(',').last.strip }.uniq.count > 0 %>
              <li><%= pluralize(CharityProject.where(id: current_user.donations.pluck(:charity_project_id)).pluck(:location).map { |location| location.split(',').last.strip }.uniq.count, 'Country') %></li>
            <% end %>
          </ul>

          <p><strong>Generous since</strong></p>
          <p><%= current_user.donations.order(:created_at).first.created_at.strftime('%d %B %Y') %></p>

          <p><strong>Payments</strong></p>
          <ul>
            <% if current_user.donations.where(recurrent: false).count > 0 %>
              <li><%= pluralize(current_user.donations.where(recurrent: false).count, 'one-time payment') %></li>
            <% end %>
            <% if current_user.donations.where(recurrent: true).count > 0 %>
              <li><%= pluralize(current_user.donations.where(recurrent: true).count, 'subscription') %></li>
            <% end %>
          </ul>
        </div>

        <!-- Second Subcolumn -->
        <div class="second-subcolumn">
          <%= pie_chart(
              current_user.donations
                .joins(:charity_project)
                .group('charity_projects.name')
                .sum('donations.amount_cents')
                .map do |project_name, total_cents|
                  total_euros = total_cents / 100.0
                  percentage = (total_cents.to_f / current_user.donations.sum(:amount_cents) * 100).round
                  ["#{percentage}% for #{project_name}", total_euros]
                end,
              colors: ["#35A28C"],
              legend: false,
              thousands: ".",
              decimal: ",",
              prefix: "€"
          ) %>
          <p class="total-donations-text">Total <span class="donation-amount"><%= humanized_money_with_symbol(@total_donations) %></span></p>
        </div>
      </div>
    </div>

    <!-- Second Column -->
    <div class="second-column">
      <div class="map-container-top"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
