<div class="container">
  <h4>Manage your monthly Donation for <%= @donation.charity_project.name %></h4>
  <%= simple_form_for [@donation] do |f| %>
    <%= f.input :amount, label: "Donation amount" %>
    <%# Checkbox-Input if a monthly recurring donation is wished %>
    <%= f.button :submit, class: "button w-100 mb-5" %>
  <% end %>
  <%= button_to 'Unsubscribe', donation_path(@donation), method: :patch, params: { donation: { recurrent: false } }, data: { confirm: 'Are you sure you want to unsubscribe?' }, class: 'button-outline w-100' %>
</div>
