<div class="project-card">
  <div class="project-photo">
    <% if project.photos.attached? %>
      <%= cl_image_tag project.photos.first.key, width: 300, height: 200, gravity: "center", crop: "fill" %>
    <% else %>
      <p>No image available for this project.</p>
    <% end %>
  </div>

  <div class="project-details">
    <div class="">
      <h6>
        <%= link_to project.charity.name, charity_path(project.charity), class: "charity-name-link" %>
      </h6>
      <h4>
        <%= link_to project.name, charity_project_path(project), class: "project-name-link" %>
      </h4>
    </div>

    <p><strong><i class="fa-solid fa-location-dot"></i> </strong> <%= project.location %></p>
    <p><%= project.description %></p>

    <div class="progress-and-button row align-items-end mt-4">
      <div class="progress-info-and-bar col-md-8">
        <div class="progress-text d-flex align-items-center">
          <% total_donations_cents = project.donations.sum(:amount_cents) %>
          <% total_donations = Money.new(total_donations_cents) %>
          <% goal_cents = project.goal * 100 %> <!-- Convert goal to cents -->
          <% percentage = (total_donations_cents.to_f / goal_cents * 100).round(2) %>
          <h4 class="mb-2 text-success"><%= humanized_money_with_symbol(total_donations) %></h4>
          <p class="mb-0 ms-2">raised of <%= humanized_money_with_symbol(Money.new(goal_cents)) %> Goal</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= percentage %>%; background-color: #35A28C;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="donate-button col-md-4 ms-auto">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#donationModal-<%= project.id %>">
          Donate
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Donation -->
<div class="modal fade" id="donationModal-<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="donationModalLabel-<%= project.id %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="donationModalLabel-<%= project.id %>">Your donation for <%= project.name %></h5>
        <button type="button" class="close m-3" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [project, Donation.new] do |f| %>
          <%= f.input :amount, label: "Donation amount" %>
          <%= f.input :state, as: :hidden, input_html: { value: 'pending' } %>
          <%= f.input :checkout_session_id, as: :hidden %>
          <%= f.input :recurrent, label: "Monthly donation" %>
          <%= f.button :submit, "Donate Now", class: "btn button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
