<!-- _project_card.html.erb -->

<div class="project-card">
  <div class="project-photo">
    <% if project.photos.attached? %>
      <%= cl_image_tag project.photos.first.key, width: 300, height: 200, gravity: "center", crop: "fill" %>
    <% else %>
      <p>No image available for this project.</p>
    <% end %>
  </div>
  <div class="project-details">
    <h4><%= project.name %></h4>
    <p><strong>Where:</strong> <%= project.location %></p>
    <p><%= project.description %></p>
    <div class="progress-and-button row align-items-end mt-4">

      <div class="progress-info-and-bar col-md-8">
        <div class="progress-text d-flex align-items-center">
          <% total_donations = project.donations.sum(:amount) %>
          <% percentage = (total_donations.to_f / project.goal * 100).round(2) %>
          <h4 class="mb-2 text-success">€<%= number_with_delimiter(total_donations, delimiter: ',') %></h4>
          <p class="mb-0 ms-2">raised of €<%= number_with_delimiter(project.goal, delimiter: ',') %> Goal</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= percentage %>%; background-color: #35A28C;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="donate-button col-md-4 ms-auto">
      <%= link_to "Donate", new_charity_project_donation_path(project), class: "btn btn-primary" %>
    </div>

  </div>
  </div>
</div>
