<div class="banner">
  <% if @charity.photos.attached? %>
    <%= cl_image_tag @charity.photos.first.key, gravity: 'north', crop: 'fill' %>
  <% else %>
    <p>No banner image available.</p>
  <% end %>
</div>

<div class="content">
  <div class="section">
    <h1><%= @charity.name %></h1>
    <p><%= @charity.description %></p>
    <h2>Ways to Give</h2>
  </div>

  <div class="">
    <div class="">
      <div class="ways-to-give">
        <div class="give-option">
          <div class="give-photo">
            <% if @charity.photos.size > 1 %>
              <%= cl_image_tag @charity.photos.second.key, width: 300, height: 150, crop: 'fill' %>
            <% else %>
              <p>No image available for this option.</p>
            <% end %>
          </div>
          <h4>Support a Project</h4>
        </div>

        <div class="give-option">
          <div class="give-photo">
            <% if @charity.photos.size > 2 %>
              <%= cl_image_tag @charity.photos.third.key, width: 300, height: 150, crop: 'fill' %>
            <% else %>
              <p>No image available for this option.</p>
            <% end %>
          </div>
          <h4>Give a Gift</h4>
        </div>

        <div class="give-option">
          <div class="give-photo">
            <% if @charity.photos.size > 3 %>
              <%= cl_image_tag @charity.photos.fourth.key, width: 300, height: 150, crop: 'fill' %>
            <% else %>
              <p>No image available for this option.</p>
            <% end %>
          </div>
          <h4>Send an Email</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <h2>Our Projects</h2>
    <div class="our-projects">
      <% @charity_projects.each do |project| %>
        <%= render partial: 'project_card', locals: { project: project } %>
      <% end %>
    </div>
  </div>
</div>
