<div class="banner">
  <% if @charity.photos.attached? %>
    <%= cl_image_tag @charity.photos.first.key, gravity: 'north', crop: 'fill' %>
  <% else %>
    <p>No banner image available.</p>
  <% end %>
</div>

<div class="content">
  <div class="section">
    <h1><%= @charity.name %></h1>
    <p><strong><%= @charity.description %></strong></p>
  </div>

  <div>
    <h2>Ways to Give</h2>
    <div class="ways-to-give">
      <div class="give-option">
        <a href="#projects-sect" style="display: block; text-decoration: none; color: inherit;">
          <div class="give-photo">
            <% if @charity.photos.size > 1 %>
              <%= cl_image_tag @charity.photos.second.key, height: 170, crop: 'fill' %>
            <% else %>
              <p>No image available for this option.</p>
            <% end %>
          </div>
          <h4>Support a Project</h4>
        </a>
      </div>

      <div class="give-option" style="cursor: pointer;" data-toggle="modal" data-target="#donationModal">
        <div class="give-photo">
          <% if @charity.photos.size > 2 %>
            <%= cl_image_tag @charity.photos.third.key, height: 170, crop: 'fill' %>
          <% else %>
            <p>No image available for this option.</p>
          <% end %>
        </div>
        <h4>Give a Gift</h4>
      </div>

      <div class="give-option">
        <a href="mailto:<%= @charity.name.gsub(' ', '-').downcase %>@charity-nest.com?subject=Inquiry%20About%20<%= @charity.name.gsub(' ', '%20') %>" style="display: block; text-decoration: none; color: inherit;">
          <div class="give-photo">
            <% if @charity.photos.size > 3 %>
              <%= cl_image_tag @charity.photos.fourth.key, height: 170, crop: 'fill' %>
            <% else %>
              <p>No image available for this option.</p>
            <% end %>
          </div>
          <h4>Send an Email</h4>
        </a>
      </div>
    </div>
  </div>

  <div>
    <h2>Our Projects</h2>
    <div id="projects-sect" class="our-projects">
      <% @charity_projects.each do |project| %>
        <% unless project.name == @charity.name %>
          <%= render partial: 'project_card', locals: { project: project } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal for Donation -->
<% if @charity.charity_projects.any? %>
  <% project = @charity.charity_projects.find { |project| project.name == @charity.name } %>
  <div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="donationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between align-items-center">
          <h5 class="modal-title" id="donationModalLabel">Your donation for <%= project.name %></h5>
          <button type="button" class="close m-0 custom-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [project, Donation.new] do |f| %>
            <%= f.input :amount, label: "Donation amount" %>
            <%= f.input :state, as: :hidden, input_html: { value: 'pending' } %>
            <%= f.input :checkout_session_id, as: :hidden %>
            <div class="form-check mb-3">
              <%= f.check_box :recurrent, class: "form-check-input custom-checkbox mt-0" %>
              <%= f.label :recurrent, "Monthly donation", class: "form-check-label" %>
            </div>
            <%= f.button :submit, "Donate Now", class: "btn button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
