<div class="report-image">
  <%  if report.photos.first.present? %>
    <%= cl_image_tag report.photos.first.key %>
  <% else %>
    <%= cl_image_tag report.charity_project.photos.first.key %>
  <% end %>
</div>
<div class="report-text">
  <div>
    <small><%= report.user.first_name %> <%= report.user.last_name %></small>
    <h2><%= report.title %></h2>
    <p class="report-date"><span class="report-type"><%= report.report_type.capitalize %></span> • <%= report.created_at.strftime('%b %d, %Y') %></p>
    <p><%= report.teaser %></p>
  </div>
  <% unless current_page?(report_path(report))  %>
    <div class="text-end">
      <%= link_to 'Read more', report_path(report) %>
    </div>
  <% end %>
</div>
