<div class="report-image">
  <% if report.report_type == "Evaluation" %>
    <%= render "reports/report_evaluation_graphics", report: report %>
  <% else %>
    <%= render "reports/report_article_image", report: report %>
  <% end %>
</div>
<div class="report-text">
  <div>
    <% unless current_page?(charity_project_path(report.charity_project)) %>
      <small><%= link_to report.charity_project.name, charity_project_path(report.charity_project) %></small>
    <% end %>
    <h2><%= report.title %></h2>
    <p class="report-date"><span class="report-type"><%= report.report_type.capitalize %></span> by <%= report.user.first_name %>  <%= report.user.last_name %> • <%= report.created_at.strftime('%b %d, %Y') %></p>
    <p><%= report.teaser %></p>
  </div>
  <% unless current_page?(report_path(report))  %>
    <div class="text-end">
      <%= link_to 'Read more', report_path(report) %>
    </div>
  <% end %>
</div>
