<!DOCTYPE html>
<html>
  <head>
    <title>CharityNest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>

    <button id="chatbox-toggle-button" class="chatbox-toggle-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#chatboxModal">
      Ask CharityNest AI assistant
    </button>

    <!-- Modal HTML -->
    <div class="modal" tabindex="-1" role="dialog" id="chatboxModal" data-controller="chatbox">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-between">
            <h5 class="modal-title">Chat with CharityNest AI</h5>
            <button type="button" class="close custom-close-chatbox" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Messages container -->
            <div id="messages" class="chatbox-messages" data-chatbox-target="messages"></div>

            <!-- Common Questions Section -->
            <div class="common-questions">
              <p>Common questions are:</p>
              <div class="question-wrapper" data-action="click->chatbox#askQuestion">
                <div class="question">Should I donate to a charity or to a project?</div>
              </div>
              <div class="question-wrapper" data-action="click->chatbox#askQuestion">
                <div class="question">Where can I make a bigger impact?</div>
              </div>
            </div>

            <!-- User input -->
            <form class="chatbox-footer">
              <textarea id="chat-input" class="chatbox-input" placeholder="Type a message..." data-chatbox-target="input" rows="1" maxlength="1000"></textarea>
              <button type="button" class="chatbox-send" data-action="click->chatbox#sendMessage">
                <i class="fa-regular fa-paper-plane"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
