<!DOCTYPE html>
<html>
  <head>
    <title>CharityNest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>

<div id="chat-box" class="chatbox" data-controller="chatbox" data-chatbox-target="chatbox">
  <button id="chatbox-toggle" class="chatbox-toggle" data-action="click->chatbox#toggleMinimize">&times;</button>

  <!-- Ensure the messages target is set correctly -->
  <div id="messages" class="chatbox-messages" data-chatbox-target="messages"></div>

  <!-- Ensure the input target is set correctly -->
  <input type="text" id="chat-input" class="chatbox-input" placeholder="Type a message..." data-chatbox-target="input" />

  <!-- Attach the sendMessage function to the button click via Stimulus action -->
  <button id="send-message" class="chatbox-send" data-action="click->chatbox#sendMessage">Send</button>
</div>
  </body>
</html>
