<!DOCTYPE html>
<html>
  <head>
    <title>CharityNest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>

    <!-- Button to open the modal -->
    <button id="chatbox-toggle-button" class="chatbox-toggle-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#chatboxModal">
      Ask CharityNest AI assistant
    </button>

    <!-- Modal HTML -->
    <div class="modal" tabindex="-1" role="dialog" id="chatboxModal" data-controller="chatbox">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-between align-items-center">
            <h5 class="modal-title">Chat with CharityNest AI</h5>
            <!-- Close button triggers the modal to hide -->
            <button type="button" class="close custom-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Messages container -->
            <div id="messages" class="chatbox-messages" data-chatbox-target="messages"></div>

            <!-- User input -->
            <input type="text" id="chat-input" class="chatbox-input" placeholder="Type a message..." data-chatbox-target="input" />

            <!-- Send message button -->
            <button id="send-message" class="chatbox-send" data-action="click->chatbox#sendMessage">Send</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
